@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'VNSeventies';
  src: url('./assets/fonts/VN-Seventies-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1.2;
}

body {
  background-color: #e3e3e3;
  font-family: 'Beausite Classic', 'Beausite Classic Trial', 'Beausite Fit Trial', 'Beausite Grand Trial',
    'Beausite Slick Trial', sans-serif;
}
